.search-box .suggestions {
  display: none;
}

.search-box .suggestions.visible {
  display: block;
}

.search-box .suggestion {
  cursor: pointer;
}

.search-box .suggestion:hover,
.search-box .suggestion.selected {
  background-color: var(--color-lightGrey);
}

.search-box .search,
.search-box .search-input,
.search-box .search-btn {
  display: flex;
}

.search-box .search-input {
  flex: 1;
}

.search-box .search-btn {
  width: 30px;
  padding: 6px;
}

.search-box .search-btn .icon {
  width: 30px;
  height: 30px;
  fill: white;
}
