{% set build_info = build_info() %}

<footer class="text-center">
  <div>
    <small>
      <span>spin-archive.org (<a href="{{ build_info.commit_url }}"><em>{{ build_info.sha_short }}</em></a>) |
      <span><a target="_blank" href="https://discord.gg/NMMWPnA">Discord</a></span>
    </small>
  </div>
</footer>