<footer class="text-center">
  <div>
    <small>
      <span>spin-archive.org (<a href="https://github.com/andrewvy/spin-archive.org"><em>git</em></a>) |
      {% if is_admin %}
        <span><a href="/admin">Admin</a></span> |
      {% endif %}
      <span><a href="/about">About</a></span> |
      <span><a target="_blank" href="https://discord.gg/NMMWPnA">Discord</a></span> |
      <span><a href="#top">Back to Top</a></span>
    </small>
  </div>
</footer>