<div class="upload-tags">
  <label>Tags</label>
  {% if tag_groups %}
   {% for group in tag_groups %}
    {% set tag_count = group.tags | length %}

    {% if tag_count != 0 %}
      <details class="tag-group" open>
        <summary>{{ group.name }} ({{ tag_count }})</summary>
        <ol>
        {% for tag in group.tags %}
          <li><a href="{{ tag.name | tag_url() }}">{{ tag.name }}</a> <small>({{ tag.upload_count }})</small></li>
        {% endfor %}
        </ol>
      </details>
    {% endif %}
   {% endfor %}
  {% endif %}

  {% if tags %}
    {% if upload %}
    <ol>
      {% for tag in tags %}
        <li><a href="{{ tag.name | tag_url() }}">{{ tag.name }}</a> <small>({{ tag.upload_count }})</small></li>
      {% endfor %}
    </ol>
    {% else %}
    <details class="tag-group" open>
      <summary>Uncategorized</summary>
      <ol>
        {% for tag in tags %}
          <li><a href="{{ tag.name | tag_url() }}">{{ tag.name }}</a> <small>({{ tag.upload_count }})</small></li>
        {% endfor %}
      </ol>
    </details>
    {% endif %}
  {% else %}
  <div>
    No tags were found.
  </div>
  {% endif %}
</div>