{% extends "base" %}

{% block content %}
<main class="two-column-page" id="queue-page">
  <div class="content">
    <div class="banner">
      <h3>Approval Queue</h3>
      <p>New uploads from regular users will be posted here for approval, before being publically viewable.</p>
    </div>

    {% if uploads_with_users -%}
    <div class="upload-grid">
      {% set upload_count = uploads_with_users| length -%}
      {% if upload_count == 0 -%}
        <div class="empty text-center vertical-align">
          No uploads were posted yet.
        </div>
      {% endif -%}

      {% for result in uploads_with_users -%}
        {% set upload = result.0 %}
        {% set uploader = result.1 %}

        <div class="upload" id="{{ upload.file_id }}" data-tags="{{ upload.tag_string }}" data-uploader="{{ uploader.username }}">
          <a href="/u/{{ upload.file_id }}">
            <img
              src="{{ get_thumbnail_url(upload=upload) }}"
              onerror="this.src='https://bits.spin-archive.org/placeholder.jpg'"
              title="uploader:{{ uploader.username }} {{ upload.tag_string }}"
              class="thumbnail"
            />
          </a>
        </div>
      {% endfor -%}
    </div>
    {% else -%}
    <div class="empty text-center vertical-align">
      No uploads were posted yet.
    </div>
    {% endif -%}
  </div>
</main>
{% endblock content %}