#logs-page .logs {
  width: 100%;
}

#logs-page .logs ol {
  list-style: none;
}

#logs-page .log {
  padding: 0.25em 0;
}

#logs-page .log .title,
#logs-page .log .timestamp {
  font-size: 10.5pt;
  color: var(--color-grey);
  font-family: 'Consolas', 'Monaco', 'Menlo', monospace;
}
