#profile-page label {
  font-weight: 500;
}

#profile-page .user-profile .username {
  margin: 1em;
}

#profile-page .user-profile .details {
  min-width: 350px;
  padding: 1em 0;
  background-color: var(--color-lightGrey);
  border-radius: 4px;
}

#profile-page .user-profile .details p {
  display: inline-block;
}

#profile-page .user-profile .details div {
  display: flex;
}

#profile-page .user-profile .details div p {
  flex: 1;
}

#profile-page .user-profile .details div label {
  text-align: right;
  margin-right: 0.5em;
  width: 150px;
}

#profile-page .user-profile .details div p {
  text-align: left;
}

@media only screen and (max-width: 500px) {
  #profile-page .user-profile .details {
    min-width: auto;
    width: 100%;
  }

  #profile-page .user-profile .details div {
    flex-direction: column;
  }

  #profile-page .user-profile .details div label,
  #profile-page .user-profile .details div p {
    width: 100%;
    text-align: center;
  }
}
