#tags-page .tags,
#tags-page .tag-group + .tag-group {
  margin-top: 1em;
}

#tags-page .tag-group ol,
#tags-page .tags ol {
  list-style: none;
  column-count: 4;
}

@media only screen and (max-width: 1000px) {
  #tags-page .tag-group ol,
  #tags-page .tags ol {
    list-style: none;
    column-count: 3;
  }
}

@media only screen and (max-width: 500px) {
  #tags-page .tag-group ol,
  #tags-page .tags ol {
    list-style: none;
    column-count: 2;
  }

  #tags-page .tag-group ol,
  #tags-page .tags ol {
    font-size: 9.5pt;
  }
}
