{% extends "base" %}

{% block content %}
<main class="two-column-page">
  <div class="sidebar upload-metadata">
  </div>

  <div class="content">
    <a href="/u/{{ file_id }}">Back to upload</a>
    <form action="/u/{{ file_id }}/comments/{{ comment.id }}" method="POST">
      <fieldset>
        <label for="comment">Comment</label>
        <textarea id="comment" name="comment">{{ comment.comment }}</textarea>
      </fieldset>
      <input type="submit" value="Edit">
    </form>
  </div>
</main>
{% endblock content %}