{% extends "base" %}

{% block head %}
{% endblock %}

{% block index %}
{% endblock %}

{% block content %}
{% set is_video = is_video(upload=upload) %}
<div class="embed upload" data-id="{{ upload.file_id }}">
  {% if is_video %}
    <video controls muted autoplay loop class="video-player" id="video-player" data-poster="{{ get_thumbnail_url(upload=upload) | safe }}" >
      <source src="{{ get_video_url(upload=upload) | safe }}">>
    </video>
  {% endif %}
</div>
{% endblock content %}

{% block footer %}
{% endblock footer %}