{% extends "base" %}

{% block head %}
{% set is_video = is_video(upload=upload) %}
{% if is_video %}
<meta property="og:title" content="spin-archive.org | {{ upload.tag_string }}" />
<meta property="og:type" content="video" />
<meta property="og:image" content="{{ get_thumbnail_url(upload=upload) | safe }}" />
<meta property="og:url" content="https://spin-archive.org/u/{{ upload.file_id }}" />
<meta property="og:video" content="{{ get_video_url(upload=upload) | safe }}" />
<meta property="og:site_name" content="spin-archive.org" />
<meta
  property="og:description"
  content="{{ upload.tag_string }}"
/>
{% endif %}
{% endblock %}

{% block content %}
{% set tags = split_tags(tags=upload.tag_string) %}
<main class="two-column-page">
  <div class="sidebar upload-metadata">
    <div class="upload-tags">
      <label>Tags</label>
      {% set tag_count = tags | length %}
      {% if tag_count == 0 %}
      <div>
        No tags were found.
      </div>
      {% endif %}
      <ol>
        {% for tag in tags%}
          <li><a href="{{ tag | tag_url() }}">{{ tag }}</a></li>
        {% endfor %}
      </ol>
    </div>
    {% if upload.source %}
    <div class="upload-source">
      <label>Source</label>
      <div>{{ upload.source }}</div>
    </div>
    {% endif %}
    {% if view_count %}
    <label>Information</label>
    <div class="view_count">
      <small>Views:</small> {{ view_count }}
    </div>
    {% endif %}
    <div class="uploader">
      <small>Uploader:</small> <a href="#">{{ uploader.username }}</a>
    </div>
    <div class="upload-date">
      <small>Upload Date: {{ upload.created_at | date(format="%Y-%m-%d %H:%M") }}</small>
    </div>
    <div class="original-filename">
      <small>Original Filename: {{ upload.file_name }}</small>
    </div>
  </div>

  <div class="content">
    <a href="/u/{{ upload.file_id }}">Back to upload</a>
    <ol class="audit-log">
      {% for tuple in audit_log %}
        {% set log = tuple.0 %}
        {% set user = tuple.1 %}
        <li>
          <span><em>{{ log.column_name }}</em></span>
          <span><strong>Old: </strong>{{ log.old_value }}</span>
          <span><strong>New: </strong>{{ log.new_value }}</span>
          <span>Changed by: {{ user.username }}</span>
          <span>({{ log.changed_date | date(format="%Y-%m-%d %H:%M") }})</span>
        </li>
      {% endfor %}
    </ol>
  </div>
</main>
{% endblock content %}