:root {
  --color-primary: #1a9f60;
  --color-lightGrey: #f1f1f1;
  --color-grey: #7e818b;
  --color-darkGrey: #3f4144;
  --color-error: #d43939;
  --color-success: #28bd14;
  --color-contributor: #4d98af;
  --color-moderator: #1a9f60;
  --color-admin: #a53f2b;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

input[type='date'] {
  display: block;
}

button {
  cursor: pointer;
}

textarea {
  padding: 1rem;
}

body {
  height: 100%;
  min-height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
}

main {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2em;
  width: 100%;
  height: 100%;
}

footer {
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
  padding-bottom: 2em;

  font-size: 10.5pt;
}

.text-center {
  text-align: center;
}

.nav {
  background-color: rgb(241, 241, 241);
}

.flash {
  padding: 0.5em;
  font-weight: 500;
}

.flash-success {
  color: var(--color-success);
}

.flash-error {
  color: var(--color-error);
}

.vertical-center {
  display: grid;
  align-items: center;
  justify-content: center;
}

.nav {
  padding: 0 2rem;
}

.nav .col {
  padding: 0;
  margin: 0;
}

.nav-logo {
  font-size: 1.25rem;
}

.nav-item {
  color: #797979;
  text-decoration: none;
  font-family: 'Consolas', 'Monaco', 'Menlo', monospace;
  font-size: 1.25rem;
  display: inline-block;
  padding: 0.5rem;
}

.reverse {
  display: flex;
  flex-direction: row-reverse;
}

.upload-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 180px);
}

.upload-grid .upload {
  height: 180px;
  width: 180px;
  padding: 0.25em;
}

.upload-grid .upload .thumbnail {
  width: 100%;
}

.two-column-page {
  display: flex;
  flex-direction: row;
}

.two-column-page .sidebar {
  width: 250px;
  padding: 1.5em;
}

.two-column-page .content {
  flex: 1;
  padding: 1.5em;
}

.upload {
  height: 100%;
  max-height: 750px;
}

.upload .video-player {
  height: 100%;
}

.upload-metadata .upload-tags ol {
  list-style: none;
}

.upload-metadata .upload-tags {
  font-size: 10.5pt;
}

.upload-metadata label {
  color: #797979;
  text-decoration: none;
  font-family: 'Consolas', 'Monaco', 'Menlo', monospace;
}

.content .description {
  white-space: pre-wrap;
  background-color: var(--color-lightGrey);
  padding: 1em;
  border-radius: 4px;
  border: 1px solid #7e818b;
  margin-top: 1rem;
}

.no-comments {
  color: var(--color-grey);
  margin: 2rem 0;
}

.comment-list {
  list-style: none;
  margin: 2rem 0;
  border-radius: 4px;
}

.comment-list .comment {
  padding: 1rem;
  background-color: var(--color-lightGrey);
}

.comment .author .username,
.comment .author .role,
.comment .author .date {
  display: inline-block;
}

.comment .author .username {
  text-decoration: none;
  font-family: Consolas, Monaco, Menlo, monospace;
}

.comment .author .role {
  font-weight: 500;
  font-size: 10pt;
}

.comment .author .role[data-role='admin'] {
  color: var(--color-admin);
}

.comment .author .role[data-role='moderator'] {
  color: var(--color-moderator);
}

.comment .author .role[data-role='contributor'] {
  color: var(--color-contributor);
}

.comment .author .date {
  color: var(--color-grey);
}

.comment .actions {
  font-size: 10pt;
}

#login-page,
#registration-page {
  max-width: 600px;
  padding-top: 5em;
}

@media only screen and (max-width: 500px) {
  .nav-logo {
    padding: 1.5em;
  }

  .nav .col {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .two-column-page {
    flex-direction: column;
  }

  .two-column-page .sidebar {
    width: 100%;
    text-align: center;
  }

  .upload-grid {
    display: flex;
    flex-direction: column;
  }

  .upload-grid .upload {
    width: 100%;
    height: auto;
  }

  .pagination {
    text-align: center;
  }
}
