{% extends "base" %}

{% block content %}
<main class="two-column-page">
  <div class="sidebar">
  </div>

  <div class="content">
    <p>spin-archive.org is an internet archive project dedicated to preserving the history of pen spinning.</p>
  </div>
</main>
{% endblock content %}