<!DOCTYPE html>
<html lang="en">
  <head>
    <title>spin-archive.org</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="spin-archive.org is an internet archive volunteer project dedicated to preserving the history of pen spinning."
    />

    <link rel="stylesheet" type="text/css" href="/public/app.css" />
  </head>
  <body>
    {% block content %}{% endblock content %}
  </body>

  <script type="text/javascript" src="/public/app.bundle.js"></script>

  {% include "footer" %}
</html>
