<!DOCTYPE html>
<html lang="en">
  <head>
    {% block title %}
    <title>spin-archive.org</title>
    {% endblock title %}

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="spin-archive.org is an internet archive volunteer project dedicated to preserving the history of pen spinning."
    />

    <link rel="stylesheet" type="text/css" href="/public/app.css" />
  </head>
  <body>
    {% block index %}
    <header>
      <nav class="nav row">
        <div class="col">
          <a href="/" class="nav-item">Home</a>
        </div>
        <div class="col reverse">
          {% if user_id %}
            <form action="/logout" method="POST" class="nav-item">
              <a class="nav-item" href="javascript:;" onclick="parentNode.submit()">Log out</a>
            </form>
          {% else %}
            <a href="/login" class="nav-item">Login</a>
          {% endif %}
        </div>
      </nav>
    </header>
    {% endblock index %}

    {% if flash_message %}
      <div class="flash flash-{{ flash_name }} text-center">{{ flash_message }}</div>
    {% endif %}


    {% block content %}
    {% endblock content %}
  </body>

  <script type="text/javascript" src="/public/app.bundle.js"></script>

  {% include "footer" %}
</html>
