<!DOCTYPE html>
<html lang="en">
  <head>
    {% block title %}
    <title>spin-archive.org</title>
    {% endblock title %}

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="spin-archive.org is an internet archive project dedicated to preserving the history of pen spinning."
    />

    <link rel="stylesheet" href="https://cdn.plyr.io/3.6.2/plyr.css" />
    <link rel="stylesheet" type="text/css" href={{ "/public/app.css" | safe | append_version }} />

    {% block head %}
    <meta property="og:title" content="spin-archive.org" />
    <meta
      property="og:description"
      content="Internet archive project dedicated to preserving the history of pen spinning."
    />
    {% endblock %}
  </head>
  <body>
    <span id="top"></span>
    {% block index %}
    <header>
      <nav class="nav row">
        <div class="col">
          <div class="nav-logo nav-item">spin-archive.org [beta]</div>
          <a href="/" class="nav-item">Home</a>
          {% if user_can_upload %}
            <a href="/upload" class="nav-item">Upload</a>
          {% endif %}
          {% if is_contributor %}
            <a href="/queue" class="nav-item">Queue</a>
          {% endif %}
          {% if user_id %}
            <form action="/logout" method="POST" class="nav-item">
              <a class="nav-item" href="javascript:;" onclick="parentNode.submit()">Log out</a>
            </form>
          {% else %}
            <a href="/login" class="nav-item">Login</a>
          {% endif %}
        </div>
      </nav>
    </header>
    {% endblock index %}

    {% if flash_message %}
      <div class="flash flash-{{ flash_name }} text-center">{{ flash_message }}</div>
    {% endif %}


    {% block content %}
    {% endblock content %}
  </body>

  <script type="text/javascript" src={{ "/public/app.bundle.js" | safe | append_version }}></script>
  <script src="https://cdn.usefathom.com/script.js" site="UEARXKBQ" defer></script>

  {% block footer %}
  {% include "partials/footer" %}
  {% endblock footer %}
</html>
