{% extends "base" %}

{% block content %}
{% if upload_limit >= 0 -%}
<main class="text-center" id="upload-page" data-upload-limit="{{ upload_limit }}">
{% else -%}
<main class="text-center" id="upload-page">
{% endif -%}
</main>
{% endblock content %}