{% extends "base" %}

{% block content %}
{% if is_contributor %}
<main class="text-center" id="upload-page">
{% else %}
<main class="text-center" id="upload-page" data-upload-limit="{{ upload_limit }}">
{% endif -%}
</main>
{% endblock content %}