@use crate::template_utils::*;
@use crate::templates::{base, partials::default_head};
@use crate::models::{
  upload::Upload,
  user::User,
  upload_comment::UploadComment,
};

@(ctx: &BaseContext, comments_with_uploads: Vec<(UploadComment, Upload)>, profile_user: User, page_count: i64, page: i64)

@:base(ctx, None, { @:default_head() }, {
  <main class="one-column-page" id="user-comments-page">
    <div class="comments">
      Comments for @profile_user.username

      <ol>
        @for (comment, upload) in comments_with_uploads {
          <li class="comment">
            <div class="timestamp">
              @comment.created_at.format("%Y-%m-%d %H:%M")
            </div>
            <div class="title">
              <span class="username">@profile_user.username</span>
              commented on
              <a href="/u/@upload.file_id">#@upload.file_id</a>.
            </div>
            <div class="content">@from_markdown(&comment.comment)</div>
          </li>
        }
      </ol>
    </div>

    <div class="pagination">
      @for i in (1..5).rev() {
        @if (page - i) > 0 {
          <a href="/user/@profile_user.username/comments?page=@(page - i)">@(page - i)</a>
        }
      }

      <span>@page</span>

      @if page_count > page {
        @for i in 1..5 {
          <a href="/user/@profile_user.username/comments?page=@(page + i)">@(page + i)</a>
        }

        @if (page + 5) <= page_count {
          <span>...</span>
          <a href="/user/@profile_user.username/comments?page=@page_count">@page_count</a>
        }
      }
    </div>
  </main>
})