{% extends "base" %}

{% block content %}
<main class="one-column-page" id="settings-page">
  <div class="content">
    <div class="api-tokens">
      <h3>API Tokens</h3>

      {% if api_tokens %}
        <table>
          <thead>
            <tr>
              <th>Token</th>
              <th>Created At</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for api_token in api_tokens %}
              <tr>
                <td><pre><code>{{ api_token.token }}</code></pre></td>
                <td>{{ api_token.created_at | date(format="%Y-%m-%d") }} <small>({{ api_token.created_at | humanized_past }})</small></td>
                <td>
                  <form action="/user/settings/api_tokens/{{ api_token.id }}/delete" method="POST">
                    <a href="javascript:;" onclick="parentNode.submit()">Delete</a>
                  </form>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
      <div class="placeholder">No API tokens registered</div>
      {% endif %}

      <form action="/user/settings/api_tokens" method="post">
        <button type="submit">Generate</button>
      </form>
    </div>
  </div>
</main>
{% endblock content %}